@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './flix.scss';
@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 .9rem;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

li{
    list-style: none;
}

.icon::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: $color-secondary;

    &:hover{
        color: $color-primary;
    }
}

input:focus {
    outline: none;
}

button{
    cursor: pointer;
}


.dropdown-menu{
    display: none;
    background: #fff;
    position: absolute;
    padding: 20px 40px 20px 0;
    border-bottom: 4px solid $color-primary;
}


.mega-dropdown{
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 150px;
}

.dropdown-item{
    line-height: 2.3;
}

.col-dropdown{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 10px 20px;
    border: 1px solid $color-lightgrey;
    border-radius: 5px;
    border-color: $color-lightgrey;
    color: $color-primary;

    &:hover{
        background: $color-secondary;
        color: #fff;
    }
}

.btn-primary{
    background: $color-primary;
    border: 0;
    color: #fff;
}

.btn-xl{
    padding: 15px 25px;
}


.background-lightgrey{
    background: #f8f8f8;
}